{% load staticfiles %}
<html>
   	<head>
	   
		<title> Linear Algebra Workshop </title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       		<link rel="stylesheet" href="{% static 'css/core.css' %}">
	</head>
	<body>
		<h1>Hello</h1>
		<p>test</p>





		<div class="inputblock">
			<form action="{% url 'size' %}" method="POST" class="size_Entry">{% csrf_token %}
				<p class = "entry_form">
					{{ size_form }}
					<button type="submit" class"save_input">Enter</button>
				</p>
			</form>
		
			<form action="{% url 'input' %}" method="POST" class="input">{% csrf_token %}
				<p class="inner_form">	
        				{{ input_form }}
      		  			<button type="submit" class="save_input">Enter</button>
				</p>
    			</form>
	
		</div>
	</body>

</html>
